﻿<!-- $Id$ -->

<em>Linodef</em> is a filter for internal links. It provides tags for internal node and taxonomy term links based on their ID and dynamically embeds node titles, field values and taxonomy term names.

<h6>Application field</h6>
Those tags are required if you have a text that needs to include references to other nodes/terms or contains elements of other nodes. Some examples:
<ul>
<li>You write an article that refers to things you've already saved as node or taxonomy term or you want to quote news/other articles (yes, you can dynamically embed whole texts, with or without linking them).</li>
<li>You write a thesis with many difficult terms (the spelling of some of them will change likely) and you require (1) a common spelling as well as (2) links to an explanation for yourself and your readers (each term is a node or taxonomy term).</li>
<li>You write a book and you expect that names of characters will change during the writing process (each character has a node with fields for firstname, nickname, surname etc).</li>
</ul>

<h6>Differences of Linodef in comparison to similar modules</h6>
To achieve that goal the ID of a node, ID of a term and optionally a fieldname are the only elements that are saved within your text. The other data is included on-the-fly. That is the difference to similar filter modules that uses node names to create links (wiki-like behavior) or that limit their tags to the Node ID, too, but do not embed anything else. Following is a list of advantages the method Linodef uses has:
<ul>
<li>if you change the title or field value of the linked node then the title or field value are updated in your text automatically</li>
<li>if you change the name of a term then the name is updated in your text automatically</li>
<li>if the node or term has a path alias then that is used instead of the default /node and /term path (if you change it, it is updated too)</li>
<li>links don't break even if you change the title of a linked node or the name of a linked taxonomy term</li>
<li>the tags are hardcoded and thus reliable so other modules can work with those tags</li>
<li>the filter uses default Drupal hooks solely hence it is easy to maintain i.e. has good chances to stay alive for a long time</li>
</ul>

<h6>Linodef is more than a filter</h6>
Now you likely think: &quot;I won't be able to know the IDs of all my nodes and terms.&quot; For this very reason Linodef is not limited to the filter tags:
Linodef uses <a href="&topic:linodef/filter&">hardcoded tags</a> not only to keep simplicity and a common handling but to offer the ability to provide buttons for editors. Learn more at <a href="&topic:linodef/structure&">The three Pillars of Linodef</a> as well as <a href="&topic:linodef/editors&">editors Linodef supports</a>.