﻿<!-- $Id$ -->
For most editors it is enough to use the main function of <em>Linodef editorbuttons API</em>.
<h4>Name</h4>
<pre>linodef_editorbuttons_switch</pre>
<h4>Parameter</h4>
<pre>string $drupal_element_type</pre>
The value should be an supported element type. <a href="&topic:linodef/editorbuttons-elementtypes&">More information</a>.
<pre>$no_link</pre>
Optional: If true a "no link" marker is added to the tag so the embedded node title or field value are not linked.
<h4>Return</h4>
<ul>
<li>An <strong>array</strong> with the elements required for the button:
<pre>
Array
(
    [0] => Array
        (
            [tag] =>
            [desc] =>
        )
    etc.
)
</pre>
<strong>'tag'</strong> contains the tag that the button will insert into the textfield. Its a <a href="&base_url&filter/tips#linodef">Linodef filter tag</a>.
<strong>'desc'</strong> contains the corresponding text to the tag which should appear in the selection list of the button. If the user has no access rights for the current node this field may also contain an "access denied" message (then the associated tag key is empty).
</li>
<li>or - in case the data could not be obtained - a <strong>string</strong> with an info message containing the reasons</li>
</ul>