﻿<!-- $Id$ -->
The <a href="&topic:linodef/editorbuttons-mainfunction&">main function</a> of <em>Linodef editorbuttons API</em> filters the parameter for the element type you entered as you created the editors button. The following types are supported (element type - what the button will show):
<ul>
<li></li>
<li>fieldname - the values of all fields with that name as well as the title of the corresponding node in brackets, i.e. Fieldname (Node title)</li>
<li>content type - the titles of all the nodes of this content type</li>
<li>vocabulary ID - all taxonomy terms that are part of the vocabulary</li>
</ul>
Heed that even the vocabulary ID has to be entered as a <strong>string</strong> though it only consists of digits.

<h6>Security advices</h6>
If the current user has no access to some nodes those won't appear in the button list. This works at least with the default Drupal access management.

If you are using contributed modules that alter the default access management and override node_access() by accident they could cause unintended results (e.g. not all nodes appear in the button list). When this happens please post this at the Linodef issue queue and include at least the name of the module and a short description of the symptoms.