﻿<!-- $Id$ -->

Via submodules Linodef offers support for editors available for Drupal.

Users that are using an editor which is currently unsupported by <em>Linodef submodules</em> are encouraged to write their own <em>Linodef editor submodule</em> and share it with the Drupal commmunity upon completion (or sooner if you need help). To make that task easy for you Linodef provides helper functions that read the required button data out of the database.

You can find the documentation for this <em>Linodef editorbuttons API</em> at the following pages; right after the handbook pages for the <em>Linodef editor submodules</em> that are currently activated.