﻿<!-- $Id$ -->
<em>Linodef</em> provides an <em>editorbuttons API</em> to make the life easy for the ones who wants to enable <em>Linodef buttons</em> in their favorite editor which isn't supported by submodules yet.

It is recommended to use the <em>Linodef - BUEditor module</em> as a template (copy the submodule folder &amp; paste it under a different name) and adjust only the needed things in the .module and the advanced help file and accordingly add or delete required or not required files. If you are not familiar with creating modules for Drupal I recommend to read the documentation about <a href="http://drupal.org/node/231276">creating modules in Drupal 6.x</a>.

In case you need more information than this documentation provides refer to the <a href="&topic:linodef/structure&">file containing the functions</a>.