﻿<!-- $Id$ -->

As the topic implies the usefulness of <em>Linodef</em> have its source in the cooperation of three elements:
<ol>
<li><a href="&topic:linodef/filter&">The filter itself</a> consisting of linodef.module, includes/linodef-filter.inc and includes/linodef-filter-tips.inc.</li>
<li><a href="&topic:linodef/editorbuttons-api&">The editorbuttons-api</a> which functions are in the file includes/linodef-editorbuttons-api.inc.</li>
<li><a href="&topic:linodef/editors&">The editor submodules</a> that can be found in the "modules" subfolder.</li>
</ol>